*
{
    margin: 0; padding: 0;
	box-sizing: border-box;
	outline: none; border: none;
	text-decoration: none;
	transition: .2s linear;
    color: inherit
}
html
{
    font-size: 62.5%;
    scroll-behavior: smooth; 
}
section
{
    padding: 2rem 5%;
    min-height: 100vh; 
    position: relative;  
}
section:nth-child(n)
{
    background-color: #43b2f7;
} 
section:nth-child(2n)
{
    background-color: #f33782;
} 
footer
{
    padding: 2rem 5%;
}
.go-home
{
    display: inline-block;
    font-size: 2rem;
    padding: 2rem;
    background-color: #bcbbbb;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #000;
}
.heading
{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
}
.text
{
    font-size: 2rem;
    line-height: 1.1;
}
.btn 
{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem 4rem;
    color: #000;
    background-color: #f0c63d;
    border-radius: 5px;
}
.btn:hover
{
    background-color: #f8d973; 
    letter-spacing: 0.3rem;
}
.image-source
{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
/* EQUAL ROWS GRID */
.box-container-grid
{
    width: 100%;
    margin: 0 auto;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	gap: 1.5rem;
    grid-auto-rows: 1fr;
}
.box-container-grid img
{ 
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
.box-grid 
{
    position: relative;
}
.box-grid .image-source
{
    color: #fff;
    top: 5px;
}
/* EQUAL ROWS FLEX */
.box-container-flex
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
     
}  
.box-container-flex .box-flex
{
    flex: 1 1 30rem; 
    background-color: #b11d51;
}
.box-container-flex img
{ 
    width: 100%;
    height: 30rem;
    object-fit: cover;   
}
/* RESPONSIVE ROW TEMPLATE */
.row
{
	display: flex;
	align-items: center;  
	flex-wrap: wrap-reverse; 	 
    gap: 1rem;
}
.row .content
{
	flex: 1 1 40rem;
}
.row .image
{
	flex: 1 1 40rem;
    position: relative;
}
.row .image img
{
	width: 100%;
}
.card 
{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* HEADER */
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 2rem;  
}
.logo
{
    text-align: center;
}
.logo div
{
    text-transform: uppercase;
}
header nav a
{
    margin-right: 1rem;
    text-transform: capitalize;
}
header .mobile
{
     display: none;
}
#menu-btn
{
    cursor: pointer;
}
input[name="search-input"], input[name="search-input-mobile"]
{
    width: 0;
    background-color: transparent;
}
input[name="search-input"].search-active, input[name="search-input-mobile"].search-active
{
    width: 15rem;  
    border-bottom: 1px solid #fff;
}

/* HOME */ 
/*.home::before
{
  display: block; 
  content:""; 
  position: absolute;  
  top:0; left: 0; right: 0; 
  height: 100%;
  background:rgba(255,255,255,0.2);
}*/
.home 
{
   color: #fff;
   background-image: url(img/bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;  
}
/* INTRO */
.intro
{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.intro h2
{
    font-size: 9rem;
    text-transform: uppercase;
}
.intro p
{
    font-size: 2rem;
    line-height: 1.5;
    margin: 3rem 0;
    width: 50%;
}
/* MENU */
.menu
{
    background-image: url(img/bg-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.menu .content h4
{
    font-size: 2rem;
}
.menu .content p
{
    font-size: 1.5rem;
}
/* BLOG */
.blog
{
    color: #fff;
    background-image: url(img/bg-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* STATS */
.stat
{
    background-image: url(img/bg-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stat .box-container-flex
{
    margin: 2rem;
}
.stat .box-flex
{
    background-color: transparent;
}
.stat-content
{
    padding: 5rem;
    border: 5px solid #000;
    text-align: center;
}
.stat-content h3
{
    font-size: 8rem;
}
.stat-content p
{
    font-size: 5rem;
}
/* ABOUT */
.about
{
    color: #fff;
    background-image: url(img/bg-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* CHEFS */ 
.chefs
{ 
    background-image: url(img/bg-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.chefs .content h4
{
    font-size: 3rem;
    text-align: center;
}
/* CONTACT */
.contact
{
    color: #fff;
    background-image: url(img/bg-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact form
{
    width: 80%; 
}
.contact input, .contact textarea
{
    display: block;
    width: 100%;
    background-color: transparent;
    margin: 3rem 0;
    border-bottom: 1px solid #fff;
}
.contact input::placeholder, .contact textarea::placeholder
{    
    text-transform: capitalize;
}
/* FOOTER */
footer
{
    color: #fff;
    background-color: #333;
}
footer .box-container-flex .box-flex
{
    background-color: transparent;
}
footer h3
{
    text-transform: capitalize;
    padding: 2rem 0;
    font-size: 3rem;
}
footer p
{
    font-size: 2rem;
}
footer a
{
    display: block;
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 0;
}
footer .icons a
{
    width: 5rem;
    height: 5rem; 
    font-size: 3rem;
    color: #333;
    background-color: #fff;
    text-align: center;
    margin: 2rem 2rem 0 0;
    border-radius: 50%;
}


/* MEDIA QUERIES */

@media (max-width:991px){
	html{
		font-size: 55%;
	}
    .menu
    {
        background-size: contain;
        background-repeat: repeat;
    }
    .blog
    {
        background-size: contain;
        background-repeat: repeat;
    }
    .stat
    {
        background-size: contain;
        background-repeat: repeat;
    }
    .stat-content
    {
        padding: 2rem; 
    }
    .stat-content h3
    {
        font-size: 4rem;
    }
    .stat-content p
    {
        font-size: 3rem;
        
    }
    .chefs
    {
        background-size: contain;
        background-repeat: repeat;
    }
}
@media (max-width:768px){
	html{
		font-size: 50%;
	}
    section 
    {
        padding: 2rem 2% 5rem 2%;
        min-height: auto;
    }
    footer
    {
        padding: 2rem 2%;
    }
    .go-home
    {
        padding: 1rem;
        font-size: 1rem;
    }
    /* HEADER */
    header .mobile
    {
        display: block;
    }
    input[name="search-input"], label[for="search-input"]
    {
        display: none;
    }
    header nav{
		position: absolute;
		top: 99%; left: 0; right:0; 
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        z-index: 1000;  
    }
    header nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header nav a 
    {
        display: block;
        padding: 2rem 0;
        text-align: center;
        font-size: 3rem;
        color:#fff;
        background-color: #333;
    }
    header nav a:hover{
        background-color: #8e8d8d;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    /* INTRO */
    .intro
    {
        min-height: auto;
        padding-bottom: 4rem;
    }
    .intro h2
    {
        margin-top: 4rem;
    }
    .intro p 
    {
        width: 80%;
    }
}

@media (max-width:451px){
	html{
		font-size: 45%;
	}
    .intro h2 
    {
        font-size: 6rem;
    }
    .intro p 
    {
        width: 90%;
    }
}